In [1]:
# Import libaries
import pandas as pd
import numpy as np
import requests
import time
from lxml import etree
from bs4 import BeautifulSoup
import json
import re

In [2]:
# Get data from url
url = 'https://www.state.gov/trade-agreements/existing-u-s-trade-agreements/'
response = requests.get(url)
response.status_code

200

In [3]:
soup = BeautifulSoup(response.content, "html.parser")
tree = etree.HTML(str(soup))
tree

In [15]:
df = pd.DataFrame(tree.xpath("//tbody/tr[position()>1]/td[1]/text()"), columns=['country'])
df['signed_date'] = tree.xpath("//tbody/tr[position()>1]/td[2]/p/text()")
df['date_inforce'] = tree.xpath("//tbody/tr[position()>1]/td[3]/p/text()")
df

               country     signed_date      date_inforce
0               Panama   June 28, 2007  October 31, 2012
1             Colombia   Nov. 22, 2006      May 15, 2012
2          South Korea   June 30, 2007     Mar. 15, 2012
3                 Peru   Apr. 12, 2006      Feb. 1, 2009
4           Costa Rica    May 28, 2004      Jan. 1, 2009
5                 Oman   Jan. 19, 2006      Jan. 1, 2009
6   Dominican Republic    Aug. 1, 2004      Mar. 1, 2007
7              Bahrain  Sept. 14, 2004      Aug. 1, 2006
8            Guatemala    May 28, 2004      July 1, 2006
9            Nicaragua    May 28, 2004      Apr. 1, 2006
10            Honduras    May 28, 2004      Apr. 1, 2006
11         El Salvador    May 28, 2004      Mar. 1, 2006
12             Morocco   June 15, 2004      Jan. 1, 2006
13           Australia    May 18, 2004      Jan. 1, 2005
14               Chile    June 6, 2003      Jan. 1, 2004
15           Singapore     May 6, 2003      Jan. 1, 2004
16              Jordan   Oct. 24, 2000     Dec. 17, 2001
17              Mexico    Dec. 1, 1992      Jan. 1, 1994
18              Canada    Dec. 1, 1992      Jan. 1, 1994
19              Israel   Apr. 22, 1985     Sept. 1, 1985

In [16]:
df.to_csv('../data/fta_inforce.csv', index=False)

In [17]:
df['country'].tolist()

['Panama',
 'Colombia',
 'South Korea',
 'Peru',
 'Costa Rica',
 'Oman',
 'Dominican Republic',
 'Bahrain',
 'Guatemala',
 'Nicaragua',
 'Honduras',
 'El Salvador',
 'Morocco',
 'Australia',
 'Chile',
 'Singapore',
 'Jordan',
 'Mexico',
 'Canada',
 'Israel']