In [49]:
import pandas as pd

In [50]:
df_fta=pd.read_csv('fta_pop_gdp_cleaned.csv')
df_fta

,country,country_code,has_fta,signed_date,date_inforce,population,1960,1961,1962,1963,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,False,NaN,NaN,"105,366",NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Afghanistan,AFG,False,NaN,NaN,"36,296,113",5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
2,Angola,AGO,False,NaN,NaN,"29,816,766",NaN,NaN,NaN,NaN,...,1.249980e+11,1.334020e+11,1.372440e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
3,Albania,ALB,False,NaN,NaN,"2,884,169",NaN,NaN,NaN,NaN,...,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10,1.513187e+10,1.826004e+10
4,Andorra,AND,False,NaN,NaN,"77,001",NaN,NaN,NaN,NaN,...,3.188653e+09,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.329911e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Samoa,WSM,False,NaN,NaN,"195,352",NaN,NaN,NaN,NaN,...,7.605496e+08,7.700596e+08,7.568060e+08,7.883073e+08,7.994939e+08,8.320256e+08,8.212869e+08,8.520071e+08,8.071475e+08,7.883900e+08
208,"Yemen, Rep.",YEM,False,NaN,NaN,"27,834,819",NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
209,South Africa,ZAF,False,NaN,NaN,"57,009,756",8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,...,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11,4.199460e+11
210,Zambia,ZMB,False,NaN,NaN,"16,853,599",7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
211,Zimbabwe,ZWE,False,NaN,NaN,"14,236,595",1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

In [51]:
ids=[i for i in range(len(df_fta))]
df_fta['FTA_id']=ids
df_fta.columns = ['gdp_'+str(col)  for col in df_fta.columns]
df_fta=df_fta.rename(columns={'gdp_country':'country', 'gdp_country_code':'country_code', 'gdp_has_fta':'has_fta', 'gdp_signed_date':'signed_date', 'gdp_date_inforce':'date_inforce','gdp_population':'population','gdp_FTA_id':'FTA_id'})
df_fta['country_FTA_partner']

,country,country_code,has_fta,signed_date,date_inforce,population,gdp_1960,gdp_1961,gdp_1962,gdp_1963,...,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019,gdp_2020,gdp_2021,FTA_id
0,Aruba,ABW,False,NaN,NaN,"105,366",NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,0
1,Afghanistan,AFG,False,NaN,NaN,"36,296,113",5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,1
2,Angola,AGO,False,NaN,NaN,"29,816,766",NaN,NaN,NaN,NaN,...,1.334020e+11,1.372440e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,2
3,Albania,ALB,False,NaN,NaN,"2,884,169",NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10,1.513187e+10,1.826004e+10,3
4,Andorra,AND,False,NaN,NaN,"77,001",NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.329911e+09,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Samoa,WSM,False,NaN,NaN,"195,352",NaN,NaN,NaN,NaN,...,7.700596e+08,7.568060e+08,7.883073e+08,7.994939e+08,8.320256e+08,8.212869e+08,8.520071e+08,8.071475e+08,7.883900e+08,207
208,"Yemen, Rep.",YEM,False,NaN,NaN,"27,834,819",NaN,NaN,NaN,NaN,...,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10,208
209,South Africa,ZAF,False,NaN,NaN,"57,009,756",8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,...,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11,4.199460e+11,209
210,Zambia,ZMB,False,NaN,NaN,"16,853,599",7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10,210
211,Zimbabwe,ZWE,False,NaN,NaN,"14,236,595",1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10,211

In [52]:
df_fta.to_csv('./Updated_Data/fta_pop_gdp_cleaned_v2.csv',index=False)

## Next

In [53]:
df_exports_from=pd.read_csv('trade_exports_from.csv')
df_exports_from

,exports_from,exports_to,exports_year,section_id,section_name,category_id,category_name,item_id,item_name,trade_value
0,usa,afg,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20806,Grapes,57330.0
1,usa,afg,2000,2,Vegetable Products,210,Cereals,21001,Wheat,5148038.0
2,usa,afg,2000,4,Foodstuffs,419,"Preparations of cereals, flour, starch or milk...",41905,Baked Goods,5493.0
3,usa,afg,2000,4,Foodstuffs,420,"Preparations of vegetables, fruit, nuts or oth...",42005,Other Processed Vegetables,15266.0
4,usa,afg,2000,5,Mineral Products,526,"Ores, slag and ash",52615,"Niobium, Tantalum, Vanadium and Zirconium Ore",61332.0
...,...,...,...,...,...,...,...,...,...,...
2292660,usa,zwe,2019,20,Miscellaneous,2096,Miscellaneous manufactured articles,209616,Scent Sprays,176.0
2292661,usa,zwe,2019,20,Miscellaneous,2096,Miscellaneous manufactured articles,209617,Vacuum Flask,120.0
2292662,usa,zwe,2019,20,Miscellaneous,2096,Miscellaneous manufactured articles,209618,Mannequins,6692.0
2292663,usa,zwe,2019,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219701,Paintings,2984.0
2292664,usa,zwe,2019,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219703,Sculptures,20.0

In [54]:
ids=["Exported_"+str(i) for i in range(len(df_exports_from))]
df_exports_from['trade_id']=ids

df_exports_from

,exports_from,exports_to,exports_year,section_id,section_name,category_id,category_name,item_id,item_name,trade_value,trade_id
0,usa,afg,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20806,Grapes,57330.0,Exported_0
1,usa,afg,2000,2,Vegetable Products,210,Cereals,21001,Wheat,5148038.0,Exported_1
2,usa,afg,2000,4,Foodstuffs,419,"Preparations of cereals, flour, starch or milk...",41905,Baked Goods,5493.0,Exported_2
3,usa,afg,2000,4,Foodstuffs,420,"Preparations of vegetables, fruit, nuts or oth...",42005,Other Processed Vegetables,15266.0,Exported_3
4,usa,afg,2000,5,Mineral Products,526,"Ores, slag and ash",52615,"Niobium, Tantalum, Vanadium and Zirconium Ore",61332.0,Exported_4
...,...,...,...,...,...,...,...,...,...,...,...
2292660,usa,zwe,2019,20,Miscellaneous,2096,Miscellaneous manufactured articles,209616,Scent Sprays,176.0,Exported_2292660
2292661,usa,zwe,2019,20,Miscellaneous,2096,Miscellaneous manufactured articles,209617,Vacuum Flask,120.0,Exported_2292661
2292662,usa,zwe,2019,20,Miscellaneous,2096,Miscellaneous manufactured articles,209618,Mannequins,6692.0,Exported_2292662
2292663,usa,zwe,2019,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219701,Paintings,2984.0,Exported_2292663
2292664,usa,zwe,2019,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219703,Sculptures,20.0,Exported_2292664

In [55]:
df_exports_from.to_csv('./Updated_Data/trade_exports_from_v2.csv',index=False)

### Next

In [56]:
df_exports_to=pd.read_csv('trade_exports_to.csv')
df_exports_to

,exports_from,exports_to,exports_year,section_id,section_name,category_id,category_name,item_id,item_name,trade_value
0,afg,usa,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20806,Grapes,21546.0
1,afg,usa,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20813,Dried Fruits,5443.0
2,afg,usa,2000,2,Vegetable Products,212,Oil seeds and oleaginous fruits; miscellaneous...,21211,Perfume Plants,192567.0
3,afg,usa,2000,6,Chemical Products,630,Pharmaceutical products,63004,Packaged Medicaments,22063.0
4,afg,usa,2000,9,Wood Products,944,Wood and articles of wood; wood charcoal,94408,Veneer Sheets,4145.0
...,...,...,...,...,...,...,...,...,...,...
1261213,zwe,usa,2020,20,Miscellaneous,2094,Furniture,209403,Other Furniture,12971.0
1261214,zwe,usa,2020,20,Miscellaneous,2095,Toys,209504,Video and Card Games,450893.0
1261215,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219701,Paintings,40175.0
1261216,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219703,Sculptures,309302.0
1261217,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219705,Collector's Items,246038.0

In [57]:
ids=["Imported_"+str(i) for i in range(len(df_exports_to))]
df_exports_to['trade_id']=ids
df_exports_to

,exports_from,exports_to,exports_year,section_id,section_name,category_id,category_name,item_id,item_name,trade_value,trade_id
0,afg,usa,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20806,Grapes,21546.0,Imported_0
1,afg,usa,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20813,Dried Fruits,5443.0,Imported_1
2,afg,usa,2000,2,Vegetable Products,212,Oil seeds and oleaginous fruits; miscellaneous...,21211,Perfume Plants,192567.0,Imported_2
3,afg,usa,2000,6,Chemical Products,630,Pharmaceutical products,63004,Packaged Medicaments,22063.0,Imported_3
4,afg,usa,2000,9,Wood Products,944,Wood and articles of wood; wood charcoal,94408,Veneer Sheets,4145.0,Imported_4
...,...,...,...,...,...,...,...,...,...,...,...
1261213,zwe,usa,2020,20,Miscellaneous,2094,Furniture,209403,Other Furniture,12971.0,Imported_1261213
1261214,zwe,usa,2020,20,Miscellaneous,2095,Toys,209504,Video and Card Games,450893.0,Imported_1261214
1261215,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219701,Paintings,40175.0,Imported_1261215
1261216,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219703,Sculptures,309302.0,Imported_1261216
1261217,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219705,Collector's Items,246038.0,Imported_1261217

In [58]:
df_exports_to.to_csv('./Updated_Data/trade_exports_to_v2.csv',index=False)

In [59]:
frames = [pd.read_csv('./Updated_Data/trade_exports_from_v2.csv'), pd.read_csv('./Updated_Data/trade_exports_to_v2.csv')]
result = pd.concat(frames,ignore_index=True)
result

,exports_from,exports_to,exports_year,section_id,section_name,category_id,category_name,item_id,item_name,trade_value,trade_id
0,usa,afg,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20806,Grapes,57330.0,Exported_0
1,usa,afg,2000,2,Vegetable Products,210,Cereals,21001,Wheat,5148038.0,Exported_1
2,usa,afg,2000,4,Foodstuffs,419,"Preparations of cereals, flour, starch or milk...",41905,Baked Goods,5493.0,Exported_2
3,usa,afg,2000,4,Foodstuffs,420,"Preparations of vegetables, fruit, nuts or oth...",42005,Other Processed Vegetables,15266.0,Exported_3
4,usa,afg,2000,5,Mineral Products,526,"Ores, slag and ash",52615,"Niobium, Tantalum, Vanadium and Zirconium Ore",61332.0,Exported_4
...,...,...,...,...,...,...,...,...,...,...,...
3553878,zwe,usa,2020,20,Miscellaneous,2094,Furniture,209403,Other Furniture,12971.0,Imported_1261213
3553879,zwe,usa,2020,20,Miscellaneous,2095,Toys,209504,Video and Card Games,450893.0,Imported_1261214
3553880,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219701,Paintings,40175.0,Imported_1261215
3553881,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219703,Sculptures,309302.0,Imported_1261216
3553882,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219705,Collector's Items,246038.0,Imported_1261217

In [65]:
df1 = pd.read_csv('./Updated_Data/trade_exports_from_v2.csv')
df2 = pd.read_csv('./Updated_Data/trade_exports_to_v2.csv')
print(len(df1),len(df2))
df_combined = pd.concat([df1,df2])
print(len(df_combined))
df_combined['currency']='US$'

2292665 1261218
3553883

In [66]:
df_combined

,exports_from,exports_to,exports_year,section_id,section_name,category_id,category_name,item_id,item_name,trade_value,trade_id,currency
0,usa,afg,2000,2,Vegetable Products,208,"Fruit and nuts, edible; peel of citrus fruit o...",20806,Grapes,57330.0,Exported_0,US$
1,usa,afg,2000,2,Vegetable Products,210,Cereals,21001,Wheat,5148038.0,Exported_1,US$
2,usa,afg,2000,4,Foodstuffs,419,"Preparations of cereals, flour, starch or milk...",41905,Baked Goods,5493.0,Exported_2,US$
3,usa,afg,2000,4,Foodstuffs,420,"Preparations of vegetables, fruit, nuts or oth...",42005,Other Processed Vegetables,15266.0,Exported_3,US$
4,usa,afg,2000,5,Mineral Products,526,"Ores, slag and ash",52615,"Niobium, Tantalum, Vanadium and Zirconium Ore",61332.0,Exported_4,US$
...,...,...,...,...,...,...,...,...,...,...,...,...
1261213,zwe,usa,2020,20,Miscellaneous,2094,Furniture,209403,Other Furniture,12971.0,Imported_1261213,US$
1261214,zwe,usa,2020,20,Miscellaneous,2095,Toys,209504,Video and Card Games,450893.0,Imported_1261214,US$
1261215,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219701,Paintings,40175.0,Imported_1261215,US$
1261216,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219703,Sculptures,309302.0,Imported_1261216,US$
1261217,zwe,usa,2020,21,Arts and Antiques,2197,Works of art; collectors' pieces and antiques,219705,Collector's Items,246038.0,Imported_1261217,US$

In [67]:
df_combined.to_csv('./Updated_Data/trades_v2.csv',index=False)

In [68]:
df1 = pd.read_csv('./Updated_Data/trades_v2.csv')
len(df1)

3553883

In [69]:
df2 = pd.read_csv('./Updated_Data/fta_pop_gdp_cleaned_v2.csv')
df2['country_code']=df2['country_code'].str.lower()
df2

,country,country_code,has_fta,signed_date,date_inforce,population,gdp_1960,gdp_1961,gdp_1962,gdp_1963,...,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019,gdp_2020,gdp_2021,FTA_id
0,Aruba,abw,False,NaN,NaN,"105,366",NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,0
1,Afghanistan,afg,False,NaN,NaN,"36,296,113",5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,1
2,Angola,ago,False,NaN,NaN,"29,816,766",NaN,NaN,NaN,NaN,...,1.334020e+11,1.372440e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,2
3,Albania,alb,False,NaN,NaN,"2,884,169",NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10,1.513187e+10,1.826004e+10,3
4,Andorra,and,False,NaN,NaN,"77,001",NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.329911e+09,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Samoa,wsm,False,NaN,NaN,"195,352",NaN,NaN,NaN,NaN,...,7.700596e+08,7.568060e+08,7.883073e+08,7.994939e+08,8.320256e+08,8.212869e+08,8.520071e+08,8.071475e+08,7.883900e+08,207
208,"Yemen, Rep.",yem,False,NaN,NaN,"27,834,819",NaN,NaN,NaN,NaN,...,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10,208
209,South Africa,zaf,False,NaN,NaN,"57,009,756",8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,...,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11,4.199460e+11,209
210,Zambia,zmb,False,NaN,NaN,"16,853,599",7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10,210
211,Zimbabwe,zwe,False,NaN,NaN,"14,236,595",1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10,211

In [ ]:
df_all_cols = pd.merge(df1, df2, how='left', left_on = 'country', right_on = 'country_code')